<a href="https://colab.research.google.com/github/KU18DHK/class2021Spring/blob/main/20210317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = [1,3,5,7,9,11]
for i in [1,2,3,4,5,6]:
  for j in range(0,6):
    if a[j]*i <= 20:
      print(i,j)

1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
6 0
6 1

In [4]:
a = ['i',2,'had',4,'lunch']
b = [i for i in a if type(i) == str]
b

['i', 'had', 'lunch']